<body>
  <h1>Welcome to your Fitness Tracker</h1>
  <br>


<h2> Take a look at your latest data entries. </h2>
<span> Your most recent Weight: </span><span><%= @weight %></span>
<br>
<%= link_to 'Add New Weight', new_weight_path %></span>
<br>
<span> Your most recent Steps logged: </span><span><%= @step %></span>
<br>
<%= link_to 'Log Steps', new_step_path %>
<br>
<span> Your most recent Calorie intake: </span><span><%= @calories %></span>
<br>
<%= link_to 'Log Calories', new_calory_path %>
<br>
<span> Your most recent workout: </span><span><%="You did some #{@exercise} for #{@time} minutes."%></span>
<br>
<%= link_to 'New Exercise', new_exercise_path %>
<br>

<%= "Your total daily calorie intake is: #{@daily_calories}" %>
<%= "Your total daily calories burned is: #{@daily_calories_burned}" %>
</body>
