<h1>Dashboard</h1>
<p>So far today, you have consumed <%= @calories %> calories.</p>
<p>Your steps and exercise together have burned <%= @combined_burn %> calories.</p>

<p>Therefore, your net calorie consumption is <%=@net %>.</p>



<h3>Today, you ate:</h3>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Calories</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @todays_foods.each do |food| %>
      <tr>
        <td><%= food.description %></td>
        <td><%= food.calories %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Today, you performed the following exercises:</h3>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Calories Burned</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @todays_exercise.each do |exercise| %>
      <tr>
        <td><%= exercise.description %></td>
        <td><%= exercise.calories %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Today, you walked this many steps:</h3>
<table>
  <thead>
    <tr>
      <th>Steps</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @todays_steps.each do |step| %>
      <tr>
        <td><%= step.steps %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Today, you weighed:</h3>
<table>
  <tbody>
    <tr>
      <td><%= @todays_weight %></td>
    </tr>
  </tbody>
</table>

<p>Choose which activity you are tracking.</p>
<%= link_to 'New Exercises', exercises_path %>
<!-- <a href="../exercises">Go to Exercises</a> -->
<%= link_to 'New Foods', foods_path %>
<!-- <a href="../steps">Go to Steps</a> -->
<%= link_to 'New Steps', steps_path %>

<%= link_to 'New Weight', weights_path %>
