<h1>Dashboard</h1>
<p>So far today, you have consumed <%= @calories %> calories.</p>
<p>Your steps and exercise together have burned <%= @combined_burn %> calories.</p>
<p>Therefore, your net calorie consumption is <%=@net %>.</p>
<h3>Choose which activity you are tracking.</h3>

<%= link_to 'New Weight', weights_path %>

<%= link_to 'New Food', foods_path %>

<%= link_to 'New Steps', steps_path %>

<%= link_to 'New Exercise', exercises_path %>
