<p id="notice"><%= notice %></p>
<%= render 'layouts/navigation' %>
<h1>Listing Joules</h1>

<table>
  <thead>
    <tr>
      <th>Consumed joules</th>
      <th>Added on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joules.each do |joule| %>
      <tr>
        <td><%= joule.consumed_joules %></td>
        <td><%= joule.added_on %></td>
        <td><%= link_to 'Show', joule %></td>
        <td><%= link_to 'Edit', edit_joule_path(joule) %></td>
        <td><%= link_to 'Destroy', joule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Joule', new_joule_path %>
