<p id="notice"><%= notice %></p>

<h1>Calories</h1>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Date</th>
      <th>Meal</th>
      <th>Calories</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @calories.each do |calorie| %>
    <tr>
      <td><%= calorie.created_at %> |</td>
      <td><%= calorie.date %> |</td>
      <td><%= calorie.meal %> |</td>
      <td><%= calorie.calories_consumed %></td>
      <td><%= link_to '<button type="button">Show</button>' .html_safe, calorie %></td>
      <td><%= link_to '<button type="button">Edit</button>' .html_safe, edit_calory_path(calorie) %></td>
      <td><%= link_to '<button type="button">Destroy</button>' .html_safe, calorie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <p><strong>Your total calories consumed to date: </strong><%= @calories_consumed_total %></p>
<br>

<%= link_to '<button type="button">New Steps</button>' .html_safe, new_step_path %>
<%= link_to '<button type="button">New Weight</button>' .html_safe, new_weight_path %>
<%= link_to '<button type="button">New Exercise</button>' .html_safe, new_exercise_path %>
<%= link_to '<button type="button">New Calories</button>' .html_safe, new_calory_path %>
<%= link_to '<button type="button">Home</button>' .html_safe, root_path %>
