<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @calorie.created_at %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @calorie.calories_consumed %>
</p>

<%= link_to 'Edit', edit_calory_path(@calorie) %> |
<%= link_to 'Back', calories_path %>
