<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @calorie.date %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @calorie.meal %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @calorie.calories_consumed %>
</p>

<%= link_to '<button type="button">Edit</button>' .html_safe, edit_calory_path(@calorie) %> |
<%= link_to '<button type="button">Calories Home</button>' .html_safe, calories_path %>
