



<h1>Health Tracker Home Page</h1>
<h2>Your health snap shot.</h2>
<p>  </p>
<p>  </p>
<p>  </p>
<p>Steps Walked to date:          <%= @steps_total %></p>
<p>Calories Consumed to date:     <%=         %></p>
<p>Calories Burned to date:       <%=         %></p>
<p>Calories Consumed vs. Burned:  <%=         %></p>



<p>Follow the links below to enter your data.</p>
<%= link_to 'Steps', steps_path %>
<%= link_to 'Weights', weights_path %>
<%= link_to 'Calories', calories_path %>
<%= link_to 'Exercises', exercises_path %>
