

<h1>HealthTracker</h1>
<h3>Your Health Snapshot</h3>

<p><strong>Steps Walked To Date:    </strong><%= @steps_total %></p>
<p><strong>Calories Consumed To Date:    </strong><%=         %></p>
<p><strong>Calories Burned To Date:    </strong><%=         %></p>
<p><strong>Calories Consumed vs. Burned:    </strong><%=         %></p>
<p>&nbsp;</p>

<p id="intro">Follow the links below to enter your data</p>
<%= link_to '<button type="button">Steps</button>' .html_safe, steps_path %>
<%= link_to '<button type="button">Weight</button>' .html_safe, weights_path %>
<%= link_to '<button type="button">Calories</button>' .html_safe, calories_path %>
<%= link_to '<button type="button">Exercise</button>' .html_safe, exercises_path %>
