<p id="notice"><%= notice %></p>

<h1>Fitness Tracker</h1>

<h3><%= link_to "Weight", weights_path %></h3>
<h3><%= link_to "Step Counter", step_counts_path %></h3>
<h3><%= link_to "Calorie Tracker", calorie_consumptions_path %></h3>
<h3><%= link_to "Daily Exercise Journal", exercises_path %></h3>

<p>Your current caloric intake is: <%= @calorie_count %> calories.</p>

<p>Your current number of steps taken is: <%= @daily_steps %> steps.</p>

<p>Your calories burned during today's exercise is: <%= @exercise_burn %> calories.</p>

<p>Your calories burned by walking today are: <%= @step_count_burn %> calories.</p>

<p>Your total calories for today are: <%= @todays_calories.round(2) %> calories.</p>
