<h1>Health Tracker Home Page</h1>
<h2>Your health Snapshot</h2>
<p>  </p>
<p>  </p>
<p>  </p>
<p>steps walked to date:          <%= @steps_total %></p>
<p>calories consumed to date:     <%=         %></p>
<p>calories burned to date:       <%=         %></p>
<p>calories consumed vs. Burned:  <%=         %></p>



<p>Follow the links below to enter your data</p>
<%= link_to '<button type="button">Steps</button>' .html_safe, steps_path %>
<%= link_to '<button type="button">Weight</button>' .html_safe, weights_path %>
<%= link_to '<button type="button">Calories</button>' .html_safe, calories_path %>
<%= link_to '<button type="button">Exercise</button>' .html_safe, exercises_path %>
