<p id="notice"><%= notice %></p>

<h1>Fitness Tracker</h1>

<p><%= link_to "Weight", weights_path %></p>
<p><%= link_to "Step Counter", step_counts_path %></p>
<p><%= link_to "Calorie Tracker", calorie_consumptions_path %></p>
<p><%= link_to "Dail Exercise Journal", exercises_path %></p>
