<p id="notice"><%= notice %></p>

<h1>Daily Weight</h1>

<table>
  <thead>
    <tr>
      <th class="wheader">Daily Weight</th>
      <th class="wheader">Recorded On</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weights.each do |weight| %>
      <tr>
        <td class="wcount"><%= weight.daily_weight %></td>
        <td class="wcount"><%= weight.recorded_on %></td>
        <td><%= link_to 'Show', weight %></td>
        <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
        <td><%= link_to 'Destroy', weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weight', new_weight_path %>

<p class="homelink"><%= link_to "Home", root_path %></p>
