<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @weight.weighed_on %>
</p>

<p>
  <strong>Weights:</strong>
  <%= @weight.weight %>
</p>

<%= link_to 'Edit', edit_weight_path(@weight) %> |
<%= link_to 'Save', weights_path %>
