<style>
body {background-color: #EEFFFF}
body {text-align: center}
h1 {color: red}
</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Weight amount:</strong>
  <%= @weight.weight_amount %>
</p>

<p>
  <strong>Weight on:</strong>
  <%= @weight.weight_on %>
</p>


<%= link_to 'Edit', edit_weight_path(@weight) %> |
<%= link_to 'Back', weights_path %>
<div>
<p><%= link_to 'Home', :root %></p>
</div>
