<p id="notice"><%= notice %></p>

<p>
  <strong>Created at:</strong>
  <%= @weight.created_at %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @weight.weight %>
</p>

<%= link_to '<button type="button">Edit</button>' .html_safe, edit_weight_path(@weight) %> |
<%= link_to '<button type="button">Weight Home</button>' .html_safe, weights_path %>
