<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @steps_taken.date %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @steps_taken.steps %>
</p>

<%= link_to 'Edit', edit_steps_taken_path(@steps_taken) %> |
<%= link_to 'Back', steps_takens_path %>
