<p id="notice"><%= notice %></p>

<p>
  <strong>Calorie amount:</strong>
  <%= @consumed_calory.calorie_amount %>
</p>

<p>
  <strong>Meal type:</strong>
  <%= @consumed_calory.meal_type %>
</p>

<p>
  <strong>Consumed on:</strong>
  <%= @consumed_calory.consumed_on %>
</p>

<%= link_to 'Edit', edit_consumed_calory_path(@consumed_calory) %> |
<%= link_to 'Back', consumed_calories_path %>
