<p id="notice"><%= notice %></p>

<p>
  <strong>Timeperformed:</strong>
  <%= @step.timePerformed %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @step.steps %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
