<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @step.timePerformed %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @step.steps %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Save', steps_path %>
