<%= form_for(@step_count) do |f| %>
  <% if @step_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step_count.errors.count, "error") %> prohibited this step_count from being saved:</h2>

      <ul>
      <% @step_count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :taken_on %><br>
    <%= f.datetime_select :taken_on %>
  </div>
  <div class="field">
    <%= f.label :step_count %><br>
    <%= f.number_field :step_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
