<p id="notice"><%= notice %></p>

<h1>Step Count History</h1>

<table>
  <thead>
    <tr>
      <th class="scheader">Taken On</th>
      <th class="scheader">Step Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @step_counts.each do |step_count| %>
      <tr>
        <td class="scount"><%= step_count.taken_on %></td>
        <td class="scount"><%= step_count.step_count %></td>
        <td><%= link_to 'Show', step_count %></td>
        <td><%= link_to 'Edit', edit_step_count_path(step_count) %></td>
        <td><%= link_to 'Destroy', step_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step count', new_step_count_path %>

<p class="homelink"><%= link_to "Home", root_path %></p>
