<p id="notice"><%= notice %></p>

<h1>Your Calorie Consumption</h1>

<table>
  <thead>
    <tr>
      <th class="ccheader">Consumed On</th>
      <th class="ccheader">Food</th>
      <th class="ccheader">Calorie Intake</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calorie_consumptions.each do |calorie_consumption| %>
      <tr>
        <td class="cccount"><%= calorie_consumption.consumed_on %></td>
        <td class="cccount"><%= calorie_consumption.food %></td>
        <td class="cccount"><%= calorie_consumption.calorie_intake %></td>
        <td><%= link_to 'Show', calorie_consumption %></td>
        <td><%= link_to 'Edit', edit_calorie_consumption_path(calorie_consumption) %></td>
        <td><%= link_to 'Destroy', calorie_consumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calorie consumption', new_calorie_consumption_path %>
