<p id="notice"><%= notice %></p>

<h1>Listing Exercises Performed</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Exercise Name</th>
      <th>Reps Performed</th>
      <th>Distance</th>
      <th>Calories Burned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises_performeds.each do |exercises_performed| %>
      <tr>
        <td><%= exercises_performed.date %></td>
        <td><%= exercises_performed.exercise_name %></td>
        <td><%= exercises_performed.reps_performed %></td>
        <td><%= exercises_performed.distance %></td>
        <td><%= exercises_performed.calories_burned %></td>
        <td><%= link_to 'Show', exercises_performed %></td>
        <td><%= link_to 'Edit', edit_exercises_performed_path(exercises_performed) %></td>
        <td><%= link_to 'Destroy', exercises_performed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercises Performed', new_exercises_performed_path %>
<%= link_to 'Return Home', home_dashboard_path %>
