<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p> Please enter duration (in minutes)</p>
    <%= f.select :exercise_type, options_for_select(["Biking", "Running", "Swimming"]), :include_blank=> true %><br>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :added_on %><br>
    <%= f.date_select :added_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
