<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise amount:,</strong>
  <%= @exercise.exercise_amount %>
</p>

<p>
  <strong>Exercise type:</strong>
  <%= @exercise.exercise_type %>
</p>

<p>
  <strong>Exercise on:</strong>
  <%= @exercise.exercise_on %>
</p>

<p>
  <strong>Calories consumed:</strong>
  <%= @exercise.calories_consumed %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
