<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @exercise.timePerformed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @exercise.calories %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Save', exercises_path %>
