<p id="notice"><%= notice %></p>

<p>
  <strong>Timeperformed:</strong>
  <%= @exercise.timePerformed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @exercise.calories %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
