<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @exercise.date %>
</p>

<p>
  <strong>Type of Exercise:</strong>
  <%= @exercise.type_of_exercise %>
</p>

<p>
  <strong>Calories Burned:</strong>
  <%= @exercise.calories_burned %>
</p>


<%= link_to '<button type="button">Edit</button>' .html_safe, edit_exercise_path(@exercise) %> |
<%= link_to '<button type="button">Exercise Home</button>' .html_safe, exercises_path %>
