<div>
  <nav>
    <ul>
      <li><%= link_to 'Home', dashboard_status_path %></li>
      <li><%= link_to 'Exercises', exercises_path %></li>
      <li><%= link_to 'Steps', steps_path %></li>
      <li><%= link_to 'Weight', weights_path %></li>
      <li><%= link_to 'Calories Consumed', consumed_calories_path	%></li>
    </ul>
  </nav>
</div>
