<!DOCTYPE html>
<html>
<head>
  <title>HealthTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags  %> <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAOQjMADMMqABAAP8AWSH/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAhIAAAAAAAAhMSAAAAAAAhNDEgAAAAAhNEQxIAAAAhNENEMSAAACE0MTQxIAAAITMSEzEgAAAhESAhESAAAAIiAAIiAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP9/AAD+PwAA/B8AAPgPAADwBwAA4AMAAOADAADgAwAA4IMAAPHHAAD//wAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
</head>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
